$corDeFundo: #040714;
$corTextoPrincipal: silver;
<<<<<<< HEAD
$corTextoSecundario: #f9f9f9;
=======
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
>>>>>>> 2611e3f95833b23da874981ef5ff196af455cb72
